In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=f56c797b52d06d905069b12c85c5791d40e156a27d726ca57f2ec324a76d2fd6
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('food DF').getOrCreate()

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
df = spark.read.csv("drive/My Drive/Colab Notebooks/indian_food.csv",header=True,inferSchema=True)
df.show()
df.printSchema()

Mounted at /content/drive/
+--------------+--------------------+----------+---------+---------+--------------+-------+-------------+------+
|          name|         ingredients|      diet|prep_time|cook_time|flavor_profile| course|        state|region|
+--------------+--------------------+----------+---------+---------+--------------+-------+-------------+------+
|    Balu shahi|Maida flour, yogu...|vegetarian|       45|       25|         sweet|dessert|  West Bengal|  East|
|        Boondi|Gram flour, ghee,...|vegetarian|       80|       30|         sweet|dessert|    Rajasthan|  West|
|Gajar ka halwa|Carrots, milk, su...|vegetarian|       15|       60|         sweet|dessert|       Punjab| North|
|        Ghevar|Flour, ghee, kewr...|vegetarian|       15|       30|         sweet|dessert|    Rajasthan|  West|
|   Gulab jamun|Milk powder, plai...|vegetarian|       15|       40|         sweet|dessert|  West Bengal|  East|
|        Imarti|Sugar syrup, lent...|vegetarian|       10|       50|         sweet|dessert|  West Bengal|  East|
|        Jalebi|Maida, corn flour...|vegetarian|       10|       50|         sweet|dessert|Uttar Pradesh| North|
|    Kaju katli|Cashews, ghee, ca...|vegetarian|       10|       20|         sweet|dessert|           -1|    -1|
|      Kalakand|Milk, cottage che...|vegetarian|       20|       30|         sweet|dessert|  West Bengal|  East|
|         Kheer|Milk, rice, sugar...|vegetarian|       10|       40|         sweet|dessert|           -1|    -1|
|         Laddu|Gram flour, ghee,...|vegetarian|       10|       40|         sweet|dessert|           -1|    -1|
|         Lassi|Yogurt, milk, nut...|vegetarian|        5|        5|         sweet|dessert|       Punjab| North|
|     Nankhatai|Refined flour, be...|vegetarian|       20|       30|         sweet|dessert|           -1|    -1|
|         Petha|Firm white pumpki...|vegetarian|       10|       30|         sweet|dessert|Uttar Pradesh| North|
|        Phirni|   Rice, sugar, nuts|vegetarian|       30|       20|         sweet|dessert|       Odisha|  East|
|         Rabri|Condensed milk, s...|vegetarian|       10|       45|         sweet|dessert|Uttar Pradesh| North|
|        Sheera|Semolina, ghee, n...|vegetarian|       10|       25|         sweet|dessert|  Maharashtra|  West|
|       Singori|Khoa, coconut, mo...|vegetarian|       10|       20|         sweet|dessert|  Uttarakhand| North|
|   Sohan halwa|Corn flour, ghee,...|vegetarian|       10|       60|         sweet|dessert|Uttar Pradesh| North|
|   Sohan papdi|Gram flour, ghee,...|vegetarian|       -1|       60|         sweet|dessert|  Maharashtra|  West|
+--------------+--------------------+----------+---------+---------+--------------+-------+-------------+------+
only showing top 20 rows

root
 |-- name: string (nullable = true)
 |-- ingredients: string (nullable = true)
 |-- diet: string (nullable = true)
 |-- prep_time: integer (nullable = true)
 |-- cook_time: integer (nullable = true)
 |-- flavor_profile: string (nullable = true)
 |-- course: string (nullable = true)
 |-- state: string (nullable = true)
 |-- region: string (nullable = true)

In [ ]:
"""1.Find out how many unique dishes are present."""


df.select("name").distinct().count()

df1=df.select("name").distinct()
df1.show()

df.select("name").show()

+-----------------+
|             name|
+-----------------+
|            Kheer|
|          Poriyal|
|Sabudana Khichadi|
|   Gajar ka halwa|
|     Keerai sadam|
|         Dalithoy|
|         Mihidana|
|          Singori|
|          Uttapam|
|          Gavvalu|
|   Kakinada khaja|
|   Chak Hao Kheer|
|          Pachadi|
|         Vindaloo|
|     Gheela Pitha|
|         Idiappam|
|     Keerai kootu|
|             Idli|
|            Saath|
|            Rabri|
+-----------------+
only showing top 20 rows

+--------------+
|          name|
+--------------+
|    Balu shahi|
|        Boondi|
|Gajar ka halwa|
|        Ghevar|
|   Gulab jamun|
|        Imarti|
|        Jalebi|
|    Kaju katli|
|      Kalakand|
|         Kheer|
|         Laddu|
|         Lassi|
|     Nankhatai|
|         Petha|
|        Phirni|
|         Rabri|
|        Sheera|
|       Singori|
|   Sohan halwa|
|   Sohan papdi|
+--------------+
only showing top 20 rows

In [ ]:
"""2.Which state has more dishes?"""

dish = df.groupBy("state").count().orderBy(col("count"),ascending=False)
dish.show()

dish = df.groupBy("state","name").count().orderBy(col("count"),ascending=False)
dish.show()

+---------------+-----+
|          state|count|
+---------------+-----+
|        Gujarat|   35|
|         Punjab|   32|
|    Maharashtra|   30|
|             -1|   24|
|    West Bengal|   24|
|          Assam|   21|
|     Tamil Nadu|   20|
| Andhra Pradesh|   10|
|  Uttar Pradesh|    9|
|         Kerala|    8|
|         Odisha|    7|
|      Karnataka|    6|
|      Rajasthan|    6|
|      Telangana|    5|
|            Goa|    3|
|          Bihar|    3|
| Madhya Pradesh|    2|
|        Manipur|    2|
|Jammu & Kashmir|    2|
|       Nagaland|    1|
+---------------+-----+
only showing top 20 rows

+--------------+--------------------+-----+
|         state|                name|count|
+--------------+--------------------+-----+
|    Tamil Nadu|          Puli sadam|    1|
|       Gujarat|              Khichu|    1|
|   West Bengal|                Goja|    1|
|   Maharashtra|             Surnoli|    1|
|       Gujarat|             Undhiyu|    1|
|   Maharashtra|              Anarsa|    1|
|            -1|           Pani puri|    1|
|       Gujarat|             Khandvi|    1|
|         Assam|         Koldil Duck|    1|
|        Punjab| Tandoori Fish Tikka|    1|
|            -1|               Sevai|    1|
|   West Bengal|             Sandesh|    1|
|   West Bengal|              Shukto|    1|
|            -1|             Khichdi|    1|
|Andhra Pradesh|        Bandar laddu|    1|
|        Punjab|          Aloo matar|    1|
|       Gujarat|              Chevdo|    1|
|   Maharashtra|            Dalithoy|    1|
|        Punjab|Makki di roti sar...|    1|
|            -1|            Red Rice|    1|
+--------------+--------------------+-----+
only showing top 20 rows

In [ ]:
"""3.How many dishes from state Karnataka?"""

df.select("name")\
  .where(col("state") == "Karnataka").distinct().show(truncate=False)

df.select("name")\
  .where(col("state") == "Karnataka").distinct().count()

+--------------+
|name          |
+--------------+
|Bisi bele bath|
|Koshambri     |
|Obbattu holige|
|Dharwad pedha |
|Mysore pak    |
|Sandige       |
+--------------+

6

In [ ]:
"""4.List number of unique regions"""

df.select("region").distinct().count()

df.select("region").distinct().show()

+----------+
|    region|
+----------+
|        -1|
|     South|
|   Central|
|      East|
|      West|
|North East|
|     North|
|      NULL|
+----------+

In [ ]:
"""5.Count number of dishes from each region."""

df.groupBy("region").count().show()

df.groupBy("region","name").count().distinct().show()

+----------+-----+
|    region|count|
+----------+-----+
|        -1|   13|
|      NULL|    1|
|     South|   59|
|   Central|    3|
|      East|   31|
|      West|   74|
|North East|   25|
|     North|   49|
+----------+-----+

+----------+-----------------+-----+
|    region|             name|count|
+----------+-----------------+-----+
|North East|   Chak Hao Kheer|    1|
|North East|       Pani Pitha|    1|
|      West|      Kombdi vade|    1|
|      West|           Khaman|    1|
|     North|   Butter chicken|    1|
|      West|            Saath|    1|
|      West|       Sev tameta|    1|
|     South|     Bandar laddu|    1|
|      West|        Shrikhand|    1|
|     North|Aloo shimla mirch|    1|
|     South|         Kuzhambu|    1|
|      East|Prawn malai curry|    1|
|North East|        Til Pitha|    1|
|     South|      Sheer korma|    1|
|     South|            Puttu|    1|
|      East|      Gulab jamun|    1|
|   Central|             Fara|    1|
|        -1|        Pani puri|    1|
|     South|         Beef Fry|    1|
|     South|   Bisi bele bath|    1|
+----------+-----------------+-----+
only showing top 20 rows

In [ ]:
"""6.List unique 'flavor_profile' and 'course'"""

df.select("flavor_profile","course").distinct().show()

df.groupBy("flavor_profile","course").count().distinct().show()

+--------------+-----------+
|flavor_profile|     course|
+--------------+-----------+
|        bitter|      snack|
|         spicy|    starter|
|          sour|main course|
|            -1|      snack|
|            -1|main course|
|         sweet|main course|
|        bitter|main course|
|         spicy|      snack|
|         sweet|    dessert|
|         spicy|main course|
+--------------+-----------+

+--------------+-----------+-----+
|flavor_profile|     course|count|
+--------------+-----------+-----+
|        bitter|      snack|    1|
|         spicy|    starter|    2|
|          sour|main course|    1|
|            -1|      snack|    3|
|            -1|main course|   26|
|         sweet|main course|    3|
|        bitter|main course|    3|
|         spicy|      snack|   35|
|         sweet|    dessert|   85|
|         spicy|main course|   96|
+--------------+-----------+-----+

In [ ]:

"""7.Which state has more 'main course'?"""

course = "main course"
main = df.filter(df["course"] == course)
state = main.groupBy("state").count()
max_count = state.agg({"count": "max"}).collect()[0][0]
max_states = state.filter(state["count"] == max_count)
max_states.show()

course = "main course"
clean_ud = df.filter(df["course"] == "main course")
state = clean_ud.groupBy("state") \
.agg(count(col("state")).alias("count"))
state.show()

+------+-----+
| state|count|
+------+-----+
|Punjab|   28|
+------+-----+

+---------------+-----+
|          state|count|
+---------------+-----+
|       Nagaland|    1|
|      Karnataka|    4|
|             -1|    9|
|         Odisha|    1|
|         Kerala|    5|
|     Tamil Nadu|   17|
| Madhya Pradesh|    1|
|         Punjab|   28|
|        Manipur|    1|
|Jammu & Kashmir|    1|
|            Goa|    1|
|        Haryana|    1|
|        Gujarat|   12|
|      Rajasthan|    3|
|          Assam|   15|
|   NCT of Delhi|    1|
|      Telangana|    1|
|    Maharashtra|   12|
|    West Bengal|    9|
|          Bihar|    2|
+---------------+-----+
only showing top 20 rows

In [ ]:
"""8.Give the %of dishes from each region."""

region_counts = df.groupBy("region").count()\
.withColumn("percentage", (col("count") / df.count()) * 100)
region_counts.show()

region_counts = df.groupBy("region").count()\
.withColumn("percentage", (col("count") / df.count()) * 100)\
.orderBy("percentage", ascending=False)
region_counts.show()

+----------+-----+-------------------+
|    region|count|         percentage|
+----------+-----+-------------------+
|        -1|   13|  5.098039215686274|
|      NULL|    1|0.39215686274509803|
|     South|   59| 23.137254901960784|
|   Central|    3| 1.1764705882352942|
|      East|   31| 12.156862745098039|
|      West|   74|  29.01960784313726|
|North East|   25|  9.803921568627452|
|     North|   49| 19.215686274509807|
+----------+-----+-------------------+

+----------+-----+-------------------+
|    region|count|         percentage|
+----------+-----+-------------------+
|      West|   74|  29.01960784313726|
|     South|   59| 23.137254901960784|
|     North|   49| 19.215686274509807|
|      East|   31| 12.156862745098039|
|North East|   25|  9.803921568627452|
|        -1|   13|  5.098039215686274|
|   Central|    3| 1.1764705882352942|
|      NULL|    1|0.39215686274509803|
+----------+-----+-------------------+

In [ ]:
"""9.List the states which has more dishes from each region."""

d=df.groupBy("region","name","state").count().distinct()\
.agg(count(col("state")).alias("count"))
d.show()

from pyspark.sql.window import Window
d = df.groupBy("region", "name", "state").count().distinct()
window_spec = Window.partitionBy("region").orderBy(desc("count"))
d.withColumn("rank", rank().over(window_spec))\
.filter(col("rank") == 1).select("region", "state", "count")
d.show()

+-----+
|count|
+-----+
|  255|
+-----+

+----------+-----------------+---------------+-----+
|    region|             name|          state|count|
+----------+-----------------+---------------+-----+
|     North|         Dum aloo|Jammu & Kashmir|    1|
|     North|     Rajma chaval|             -1|    1|
|     North|   Mushroom matar|         Punjab|    1|
|     South|          Poriyal|     Tamil Nadu|    1|
|      West|          Surnoli|    Maharashtra|    1|
|      East|          Pakhala|         Odisha|    1|
|     North|            Kofta|  Uttar Pradesh|    1|
|     North|   Gajar ka halwa|         Punjab|    1|
|      East|           Phirni|         Odisha|    1|
|     North|Mushroom do pyaza|         Punjab|    1|
|      West|     Coconut vadi|    Maharashtra|    1|
|      West|           Sukhdi|    Maharashtra|    1|
|     South|          Biryani|      Telangana|    1|
|      West|       Sutar feni|    Maharashtra|    1|
|        -1|        Pani puri|             -1|    1|
|North East|       Alu Pitika|          Assam|    1|
|     South|  Kuzhi paniyaram|         Kerala|    1|
|      West|         Doodhpak|        Gujarat|    1|
|        -1|        Nankhatai|             -1|    1|
|     South|          Theeyal|         Kerala|    1|
+----------+-----------------+---------------+-----+
only showing top 20 rows